<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
</head>
<body>
    <table border="1" class="dataframe">\n
        <thead>
            <tr style="text-align: left;">    <th></th>\n
            <th>description</th>      <th></th>\n </tr>
            <tr style="text-align: right;">    <th></th>
            <th>value</th>    </tr>\n    <tr>  
        </thead>\n
        <tbody>\n    <tr>\n      
            <th>Equatorial Diameter:</th>\n <td>6,792 km</td>\n    </tr>\n    <tr>\n
            <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n
            <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n 
            <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n  
            <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n   
            <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n             
            <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n     
            <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n   
            <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  
        </tbody>\n
    </table>'   

</body>
</html>
